.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-add-resume-socials {
    width: 300px;
}

html,
body {
    height: 100%;
}

.form-add-resume-socials {
    max-width: 330px;
    padding: 0.25rem;
    min-height: 576px;
    height: inherit;
}

.form-add-resume-socials .form-floating:focus-within {
    z-index: 2;
}

.form-add-resume-socials #floatingName {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-add-resume-socials #floatingURL {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-add-resume-socials #deleteSocialItemButton {
    margin-bottom: 25px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
}

.delete-social-item {
    color: red;
    text-decoration: none;
}

.add-new-social-button {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(2.5rem + calc(var(--bs-border-width) * 2));
}

.submit-socials-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: calc(2.5rem + calc(var(--bs-border-width) * 2));
}