{% extends 'dashboard.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/resume/add-resume-skill.css' %}" rel="stylesheet">
{% endblock %}

{% block form %}
<form method="post" action="{% url 'resume:add-resume-skills' %}" class="form-add-resume-skills"
    enctype="multipart/form-data">
    {% block formContent %}
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Add Resume Skills</h1>

    <div id="skill">
        <div class="skill-item">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingName" placeholder="Skill Name" name="name"
                    aria-required="true">
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating">
                <select class="form-select" id="floatingSkillLevel" name="level">
                    <option selected disabled>Select a skill level</option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="expert">Expert</option>
                </select>
            </div>

            <button class="btn btn-danger delete-skill-button" id="deleteSkillItemButton" type="button">Delete #<span
                    class="skill-item-number">1</span></button>
            <!-- <span class="skill-item-number">1</span> -->
        </div>
    </div>

    <p class="error-message">{{ error_message }}</p>

    <button class="btn btn-primary w-100 py-2 add-new-skill-button" id="addNewSkillItemButton"
        type="button">Add</button>
    <button class="btn btn-primary w-100 py-2 submit-skill-button" id="submitSkillsButton" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
    {% endblock %}
</form>

<script src="{% static 'js/resume/add-resume-skill.js' %}"></script>
{% endblock %}