{% extends 'dashboard.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/resume/create-edit-resume-education.css' %}" rel="stylesheet">
{% endblock %}

{% block form %}
<form method="post"
    action="{% if action == 'Create' %} {% url 'resume:create-education-view' %}  {% else %} {% url 'resume:edit-education-view' resume_id=resume.id %} {% endif %}"
    class="form-create-edit-resume-education" enctype="multipart/form-data" data-resume-id="{{ resume.id }}">
    {% block formContent %}
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">{{ action }} Resume Educational Background</h1>

    {% if educations %}
    <div id="educationalBackground">
        {% for education in educations %}
        <div class="education-item">
            <input type="hidden" name="education-id" value="{{ education.id }}">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInstitutionName" placeholder="Institution Name"
                    name="institution" aria-required="true" value="{{ education.institution }}">
                <label for="floatingInstitutionName">Institution Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingStartDate" placeholder="MM/YYYY" name="start_date"
                    aria-required="true" pattern="(0[1-9]|1[0-2])/\d{4}" title="Format: MM/YYYY" value="{{ education.start_date }}">
                <label for="floatingStartDate">Start Date (MM/YYYY)</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingEndDate" placeholder="MM/YYYY" name="end_date"
                    aria-required="true" pattern="(0[1-9]|1[0-2])/\d{4}" title="Format: MM/YYYY" value="{{ education.end_date }}">
                <label for="floatingEndDate">End Date (MM/YYYY)</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingDegree" placeholder="Degree" name="degree"
                    aria-required="true" value="{{ education.degree }}">
                <label for="floatingDegree">Degree</label>
            </div>
            <button class="btn btn-danger delete-education-button" id="deleteEducationItemButton" type="button">Delete
                #<span class="education-item-number">1</span></button>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div id="educationalBackground">
        <div class="education-item">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInstitutionName" placeholder="Institution Name"
                    name="institution" aria-required="true">
                <label for="floatingInstitutionName">Institution Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingStartDate" placeholder="MM/YYYY" name="start_date"
                    aria-required="true" pattern="(0[1-9]|1[0-2])/\d{4}" title="Format: MM/YYYY">
                <label for="floatingStartDate">Start Date (MM/YYYY)</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingEndDate" placeholder="MM/YYYY" name="end_date"
                    aria-required="true" pattern="(0[1-9]|1[0-2])/\d{4}" title="Format: MM/YYYY">
                <label for="floatingEndDate">End Date (MM/YYYY)</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingDegree" placeholder="Degree" name="degree"
                    aria-required="true">
                <label for="floatingDegree">Degree</label>
            </div>
            <button class="btn btn-danger delete-education-button" id="deleteEducationItemButton" type="button">Delete
                #<span class="education-item-number">1</span></button>
        </div>
    </div>
    {% endif %}

    <p class="error-message">{{ error_message }}</p>

    <button class="btn btn-primary w-100 py-2 add-new-education-button" id="addNewEducationItemButton"
        type="button">Add</button>
    <button class="btn btn-primary w-100 py-2 submit-education-button" id="submitEducationButton"
        type="submit">Submit</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
    {% endblock %}
</form>

<script src="{% static 'js/resume/create-edit-resume-education.js' %}"></script>
{% endblock %}