{% extends 'dashboard.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/resume/resumes.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <div class="resumes-list">
            {% if user_resumes %}
            <ul class="resume-item">
                {% for resume in user_resumes %}
                <li>
                    <a class="resume-title" href="">
                        <p>{{ resume.title }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
</main>
{% endblock %}