{% extends 'dashboard.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/user/change-password.css' %}" rel="stylesheet">
{% endblock %}

{% block form %}
<form method="post" class="form-change-password">
    {% block formContent %}
    {% csrf_token %}
    <img class="mb-4" src="{% static 'brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingOldPassword" placeholder="Old Password"
            name="old_password" aria-required="true">
        <label for="floatingOldPassword">Old Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingNewPassword" placeholder="New Password"
            name="new_password" aria-required="true">
        <label for="floatingNewPassword">New Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingNewPasswordConfirm" placeholder="Confirm New Password"
            name="new_password_confirm" aria-required="true">
        <label for="floatingNewPasswordConfirm">Confirm New Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2 update-profile-button" type="submit">Change Password</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
    {% endblock %}
</form>
{% endblock %}
