{% extends 'base.html' %}
{% load static %}

{% block customStyle %}
<link href="https://res.cloudinary.com/dikkedkzf/raw/upload/v1695308794/assets/css/auth/login_sjzlgo.css"
    rel="stylesheet">
{% endblock %}

{% block formContent %}
{% csrf_token %}
{% if messages %}
{% include 'messages.html' %}
{% endif %}
<h1 class="h3 mb-3 fw-normal">Please login in</h1>

<div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
        aria-required="true">
    <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
        aria-required="true">
    <label for="floatingPassword">Password</label>
</div>

<p>Don't have an account? <a href="{% url 'user:create-user-view' %}">Register</a></p>
<p>Forgot your password? <a href="{% url 'auth:password-reset-get-email' %}">Recover password</a></p>
<p>{{ error_message }}</p>

<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>

<p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
{% endblock %}