{% extends 'base.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/auth/login.css' %}" rel="stylesheet">
{% endblock %}

{% block formContent %}
<form method="post">
    {% csrf_token %}
    {% if messages %}
    {% include 'messages.html' %}
    {% endif %}
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingToken" placeholder="8888888" name="token"
            aria-required="true">
        <label for="floatingToken">Token</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Submit Token</button>

    <p class="mt-3">{{ error_message }}</p>
</form>

<p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
{% endblock %}