{% extends 'base.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/auth/login.css' %}" rel="stylesheet">
{% endblock %}

{% block formContent %}
<form method="post">
    {% csrf_token %}
    {% if messages %}
    {% include 'messages.html' %}
    {% endif %}
    <h1 class="h3 mb-3 fw-normal">Account Recovery</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
            aria-required="true">
        <label for="floatingInput">Enter your Email address</label>
    </div>

    <p>Don't have an account? <a href="{% url 'user:create-user-view' %}">Register</a></p>

    <button class="btn btn-primary w-100 py-2" type="submit">Send Recovery Email</button>

    <p class="mt-3">{{ error_message }}</p>
</form>

<p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
{% endblock %}