{% extends 'dashboard.html' %}
{% load static %}

{}
<a href="{% url 'logout-view' %}">Logout</a>
{% block customStyle %}
<link href="{% static 'css/account/update-profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<img class="mb-4" src="{% static 'brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
<h1 class="h3 mb-3 fw-normal">User Profile Details</h1>

<p><strong>First Name:</strong> {{ user_profile.first_name }}</p>
<p><strong>Last Name:</strong> {{ user_profile.last_name }}</p>
<p><strong>Email:</strong> {{ user_profile.email }}</p>
<p><strong>Phone:</strong> {{ user_profile.phone }}</p>
{% if user_profile.image %}
<p><strong>Profile Image:</strong></p>
<img src="{{ user_profile.image.url }}" alt="Profile Image">
{% endif %}

<p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
{% endblock %}