{% extends 'base.html' %}
{% load static %}

{% block customStyle %}
<link href="{% static 'css/account/register.css' %}" rel="stylesheet">
{% endblock %}

{% block formContent %}
{% csrf_token %}
<img class="mb-4" src="{% static 'brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
<h1 class="h3 mb-3 fw-normal">Register</h1>

<div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
        aria-required="true">
    <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
        aria-required="true">
    <label for="floatingPassword">Password</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password"
        name="confirm_password" aria-required="true">
    <label for="floatingConfirmPassword">Confirm Password</label>
</div>

<p>{{ error_message }}</p>

<button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>

<p class="mt-5 mb-3 text-body-secondary">&copy; {% now "Y" %}</p>
{% endblock %}