{% load static %}
{% block customStyle %}
<link href="https://res.cloudinary.com/dikkedkzf/raw/upload/v1695308796/assets/css/messages_ldomsg.css"
    rel="stylesheet">
{% endblock %}

<div id="messages-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.level }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>